PissClient/PissClient/Service References/PissServer/WCFPissService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFPissService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11127/WCFPissService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11127/WCFPissService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11127/WCFPissService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectPiss.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFPissService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWCFPissService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFPissService_RegisterIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterIncident" />
  </wsdl:message>
  <wsdl:message name="IWCFPissService_RegisterIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFPissService_GetIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidents" />
  </wsdl:message>
  <wsdl:message name="IWCFPissService_GetIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFPissService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPissService/DoWork" message="tns:IWCFPissService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPissService/DoWorkResponse" message="tns:IWCFPissService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterIncident">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPissService/RegisterIncident" message="tns:IWCFPissService_RegisterIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPissService/RegisterIncidentResponse" message="tns:IWCFPissService_RegisterIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPissService/GetIncidents" message="tns:IWCFPissService_GetIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPissService/GetIncidentsResponse" message="tns:IWCFPissService_GetIncidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFPissService" type="tns:IWCFPissService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWCFPissService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterIncident">
      <soap:operation soapAction="http://tempuri.org/IWCFPissService/RegisterIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidents">
      <soap:operation soapAction="http://tempuri.org/IWCFPissService/GetIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFPissService">
    <wsdl:port name="BasicHttpBinding_IWCFPissService" binding="tns:BasicHttpBinding_IWCFPissService">
      <soap:address location="http://localhost:11127/WCFPissService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>