PissClient/PissClient/Service References/PissServer/WCFPissService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectPiss.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectPiss.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIncident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incident" nillable="true" type="tns:Incident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncident" nillable="true" type="tns:ArrayOfIncident" />
  <xs:complexType name="Incident">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incident" nillable="true" type="tns:Incident" />
</xs:schema>